@font-face {
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.Courgette {
    font-family: 'Courgette', sans-serif;
}
.Oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.title1{
    font-size: 30px;
}
.backgroung-header {
    position: absolute;
    top: 0;
    filter: brightness(20%);
    size: cover;
}

.position {
    position: relative;
    margin-bottom: 7em;
    margin-top: 5em;
}

footer {
    background-color: black;
    width: 100%;
}