@font-face {
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.Courgette {
    font-family: 'Courgette', sans-serif;
}
.Oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.title1{
    font-size: 30px;
}
.backgroung-header {
    position: absolute;
    top: 0;
    filter: brightness(20%);
    size: cover;
}

.position {
    position: relative;
    margin-bottom: 7em;
    margin-top: 5em;
}

footer {
    background-color: black;
    width: 100%;
}

.icon {
    margin-right: 4%
}
.icon-title {
    margin-top: 2%;
}
.padding-form {
    padding-right: 15%;
}
.container2 {
    width: 30%;
}

section {
    margin-top: 3em;
}

aside {
    width: 20%;
    position: absolute;
    right: 30px;
    margin-top: 12%
}

.icon-group1 {
    font-size: 20px;
}
i {
    background-color: white;
    color: black;
    padding: 3px;
}

.form-footer1 {
    display: flex;
}

.title2{
    margin-bottom: 1em;
}

.partager {
    margin-top: 1em;
}